:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-font-color: #757575;
    --secondary-font-color: #212121;
    --accent-color: #2196f3;
    --secondary-accent-color: #ffffff;
    --icon-color: #afb1b8;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
ol,
ul {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}
button {
    cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    font-size: 14px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* =========HEADER========== */

.link.current {
    color: var(--accent-color);
}
.page-header-container {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
}
.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-studio {
    color: var(--secondary-font-color);
}
.menu-link {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-font-color);
}
.menu.list {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
}

.menu-item + .menu-item {
    padding-left: 50px;
}
.menu-link:focus,
.menu-link:hover {
    color: var(--accent-color);
}
/* =========/HEADER========== */
/* =========CONTACTS========== */
.contact.list {
    display: flex;
    margin-left: auto;
}
.icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}
.icon-envelope {
    fill: currentColor;
    margin-right: 10px;
}
.contact-mail {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: inherit;
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

.contact-phone-number {
    display: flex;
    align-items: center;
    padding: 32px 0;
    padding-left: 50px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: inherit;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}
/* =========/CONTACTS========== */
/* =========HERO========== */
.hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/bg.jpg');
    background-size: cover;
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
}
.container-hero {
    text-align: center;
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: var(--secondary-accent-color);
}
.modal-btn {
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-accent-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.modal-btn:hover,
.modal-btn :focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* =========/HERO========== */
/* =========ABOUT========== */
.about {
    padding: 94px 0;
    background: var(--secondary-accent-color);
}
.about-menu {
    display: flex;
    gap: 30px;
}

.about-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-font-color);
}
.about-advantage {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.icon-advantage-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
}
/* =========/ABOUT========== */
/* =========WORK========== */
.work {
    padding-bottom: 94px;
    background: var(--secondary-accent-color);
}
.work-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}
/* =========CLIENTS========= */
.clients-container {
    padding: 94px 0;
}
.clients-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    background-color: var(--secondary-accent-color);
}
.client-list-icon {
    fill: var(--icon-color);
}
.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
    fill: var(--accent-color);
}
.client-list-link:hover,
.client-list-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
.client-list-link.current {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
.client-list-link.current .client-list-icon {
    fill: var(--accent-color);
}
/* =========/CLIENTS========= */
/* =========/WORK========== */
/* =========TEAM========== */
.team {
    padding: 94px 0;
    background: #f5f4fa;
}
.team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.team-card {
    background-color: var(--secondary-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-box {
    padding: 30px 0;
}
.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}
.team-speciality {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}
.social-list-icon {
    fill: var(--icon-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--secondary-accent-color);
}
.social-list-link.current {
    background-color: var(--accent-color);
}
.social-list-link.current .social-list-icon {
    fill: var(--secondary-accent-color);
}
.social-list-link-footer.current {
    background-color: var(--accent-color);
}
.social-list-link-footer.current .social-list-icon {
    fill: var(--secondary-accent-color);
}
/* =========/TEAM========== */
/* =========FOOTER========== */
.contacts {
    background: #2f303a;
}
.footer-list {
    margin-right: 70px;
    margin-bottom: 60px;
}
.logo-footer {
    margin-top: 60px;
    margin-bottom: 20px;
}
.logo-footer-link {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-studio-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-accent-color);
}

.contact-address {
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-accent-color);
}
.contact-mail-secondary {
    padding-top: 9px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contact-phone-number-secondary {
    padding-top: 9px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.social-title-footer {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
}

.social-list-footer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.social-list-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--accent-color);
}
.social-list-icon-footer {
    fill: var(--secondary-accent-color);
}
.social-list-link-footer:hover .social-list-icon-footer,
.social-list-link-footer:focus .social-list-icon-footer {
    fill: var(--secondary-accent-color);
}
.social-links-footer {
    margin-top: 72px;
}
.container.footer-link {
    display: flex;
}
/* =========/FOOTER========== */
/* =========PORTFOLIO========== */

.page-header-portfolio {
    border: 1px solid #eeeeee;
}
.portfolio {
    padding: 94px 0;
}
.filter-menu {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filter-button.current {
    background-color: var(--accent-color);
    color: var(--secondary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.filter-list + .filter-list {
    margin-left: 8px;
}
.filter-button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: var(--secondary-font-color);
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--secondary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.project-card:hover,
.project-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.projects-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-font-color);
}
.project-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.project-specality {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio {
    background: var(--secondary-accent-color);
}
.project-card {
    background: var(--secondary-accent-color);
}
/* =========/PORTFOLIO========== */
